<head th:fragment="headerFragment" xmlns:th="http://www.w3.org/1999/xhtml">
   <title th:include=":: #pageTitle">Layout Generic Title</title>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
   <link href="/webjars/bootstrap/css/bootstrap.min.css"
         rel="stylesheet">
   <link type="text/css" th:href="@{/css/main.css}" rel="stylesheet" />
   <link href="/webjars/codemirror/lib/codemirror.css" rel="stylesheet" /-->
   <script src="/webjars/jquery/jquery.min.js"></script>
   <script src="/webjars/codemirror/lib/codemirror.js"></script>
</head>