<head th:fragment="headerFragment" xmlns:th="http://www.w3.org/1999/xhtml">
   <title th:include=":: #pageTitle">Layout Generic Title</title>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
   <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
         rel="stylesheet">

   <!-- TODO: the locator should work for jquery but for some reason it does not -->
   <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
   <link th:href="@{/webjars/codemirror/lib/codemirror.css}" rel="stylesheet" />
   <script th:src="@{/webjars/codemirror/lib/codemirror.js}"></script>
   <script th:src="@{/webjars/codemirror/mode/r/r.js}"></script>
   <script th:src="@{/webjars/codemirror/mode/xml/xml.js}"></script>
   <script th:src="@{/webjars/codemirror/mode/htmlmixed/htmlmixed.js}"></script>
   <link  th:href="@{/favicon.ico}" rel='shortcut icon' type='image/x-icon'/>
   <script th:src="@{/js/main.js}"></script>
   <link type="text/css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>