<head th:fragment="headerFragment" xmlns:th="http://www.w3.org/1999/xhtml">
   <title th:insert="~{:: #pageTitle}">Layout Generic Title</title>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
   <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
   <link th:href="@{/webjars/codemirror/lib/codemirror.css}" rel="stylesheet"/>
   <link th:href="@{/js/highlight/styles/default.min.css}" rel="stylesheet" />
   <link th:href="@{/favicon.ico}" rel='shortcut icon' type='image/x-icon'/>
   <link type="text/css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<div th:fragment="scripsFragment" xmlns:th="http://www.w3.org/1999/xhtml">
   <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
   <!-- the bootstrap bundle includes the right popper version -->
   <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
   <script th:src="@{/webjars/codemirror/lib/codemirror.js}"></script>
   <script th:src="@{/webjars/codemirror/mode/r/r.js}"></script>
   <script th:src="@{/webjars/codemirror/mode/groovy/groovy.js}"></script>
   <script th:src="@{/webjars/codemirror/mode/xml/xml.js}"></script>
   <script th:src="@{/webjars/codemirror/mode/htmlmixed/htmlmixed.js}"></script>
   <script th:src="@{/webjars/codemirror/addon/mode/overlay.js}"></script>
   <script th:src="@{/js/freemarker/freemarker.js}"></script>
   <script th:src="@{/js/freemarkermixed/freemarkermixed.js}"></script>
   <script th:src="@{/js/highlight/highlight.js}"></script>
   <script th:src="@{/js/highlight/languages/groovy.min.js}"></script>
   <script th:src="@{/js/highlight/languages/r.min.js}"></script>
   <script th:src="@{/js/highlight/languages/java.min.js}"></script>
   <script th:src="@{/js/highlight/languages/sas.min.js}"></script>
   <script th:src="@{/js/highlight/languages/json.min.js}"></script>
   <script th:src="@{/js/highlight/languages/markdown.min.js}"></script>
   <script th:src="@{/js/highlight/languages/python.min.js}"></script>
   <script th:src="@{/js/highlight/languages/sql.min.js}"></script>
   <script th:src="@{/js/mdr/mdr.js}"></script>
   <script th:src="@{/js/gmd/gmd.js}"></script>
   <script th:src="@{/js/main.js}"></script>
</div>