<div th:fragment="menu" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
   <nav  class="navbar navbar-expand-md bg-light navbar-light">
      <ul class="navbar-nav">
         <li class="nav-item">
            <a href="/" class="nav-link">
               <img class="img-responsive log-img" src="/img/logo-combined-long.png" alt="Munin Web Reports" title="Home"/>
            </a>
         </li>

         <li class="nav-item">
            &nbsp; &nbsp;
         </li>

         <li class="nav-item" sec:authorize="hasRole('ROLE_ANALYST')">
            <a href="/manage/addReport" class="nav-link">Add Report</a>
         </li>
         <li class="nav-item" sec:authorize="hasRole('ROLE_ANALYST')">
            <a href="/manage/schedule" class="nav-link">Report Schedules</a>
         </li>

         <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ANALYST', 'ROLE_ADMIN')">
            <a href="/common/resources" class="nav-link">Common resources</a>
         </li>

         <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/admin/index" class="nav-link">Administration</a>
         </li>

      </ul>

      <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
         </li>
      </ul>
      <div class="ms-auto pe-3">
         <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
               <ol class="breadcrumb" th:insert="~{:: #breadcrumbs}"></ol>
         </nav>
      </div>
   </nav>

   <br/>
</div>