h1 {
    color: black;
    /*font-family: 'Harrington Regular', cursive;*/
}

h1, h2, h3, h4 {
    color: slategray;
}

.navbar-brand {
    height: auto;
    padding: 0;
    position: absolute;
    right: 0;
}

.log-img {
    max-height: 100%;
    height: 20px;
}

@font-face {
    font-family: 'Harrington Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Harrington Regular'), url('HARNGTON.woff') format('woff');
}

body.busy, .busy * {
    cursor: wait !important;
}

.not-busy {
    cursor: default !important;
}

.folder {
    width: 150px;
    height: 105px;
    margin: 50px 20px auto;
    position: relative;
    background-color: #e9ecef;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
    text-align: center;
    padding-top: 35px;
    font-weight: bold;
    font-size: larger;
    color: #495057;
}

.folder:before {
    content: '';
    width: 40%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #e1e6ea;
    position: absolute;
    top: -12px;
    left: -1px;
}

