<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="snippets/header.html :: headerFragment">
   <title id="pageTitle">Manage Renjin Web Reports</title>
</head>
<body>
   <div class="container">
      <h3>Add report</h3>
      <form id="addReportForm" enctype="application/x-www-form-urlencoded" action="/manage/addReport" method="post">
         <div class="form-group">
            <label for="reportName">Report Name</label>
            <input id="reportName" type="text" name="reportName" />
         </div>

         <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" type="text" name="description" cols="40" rows="3"></textarea>
         </div>

         <div class="form-group">
            <label for="definition">R report code:</label>
            <textarea class="form-control-file" id="definition" cols="40" rows="20" name="definition"></textarea>
            <label for="loadRFile">Load from file</label>
            <input type="file" id="loadRFile"/>
         </div>

         <div class="form-group">
            <label for="inputContent">Input form content</label>
            <textarea class="form-control-file" id="inputContent" cols="40" rows="20" name="inputContent"></textarea>
            <label for="loadInputFile">Load from file</label>
            <input type="file" id="loadInputFile"/>
         </div>

         <button type="submit" class="btn btn-primary">Add report</button>
         <a href="/" class="btn btn-primary">Home</a>
      </form>
   </div>
</body>
<script type="text/javascript">
   let rCodeMirror = CodeMirror.fromTextArea(document.getElementById("definition"), {
      mode: "text/x-rsrc"
   });

   let inputCodeMirror = CodeMirror.fromTextArea(document.getElementById("inputContent"), {
      mode: "text/html"
   });


   document.getElementById('loadRFile')
      .addEventListener('change', function() {
         let fr=new FileReader();
         fr.onload=function(){
            rCodeMirror.setValue(fr.result);
         }
         fr.readAsText(this.files[0]);
      })

   document.getElementById('loadInputFile')
      .addEventListener('change', function() {
         let fr=new FileReader();
         fr.onload=function(){
            inputCodeMirror.setValue(fr.result);
         }
         fr.readAsText(this.files[0]);
      })
</script>
</html>