<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="snippets/header.html :: headerFragment">
   <title id="pageTitle">Manage Renjin Web Reports</title>
</head>
<body>
   <div class="container">
      <h3>Add report</h3>
      <form id="addReportForm" enctype="multipart/form-data" action="/manage/addReport" method="post">
         <div class="form-group">
            <label for="reportName">Report Name</label>
            <input id="reportName" type="text" name="reportName" />
         </div>

         <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" type="text" name="description" cols="20" rows="5"></textarea>
         </div>

         <div class="form-group">
            <label for="reportFile">R report file:</label>
            <input class="form-control-file" type="file" id="reportFile" accept=".R, .r" name="file"/>
         </div>

         <div class="form-group">
            <label for="inputContent">Input form content</label>
            <textarea class="form-control-file" id="inputContent" cols="40" rows="20" name="inputContent"></textarea>
         </div>

         <button type="submit" class="btn btn-primary">Add report</button>
      </form>
   </div>
</body>
</html>