<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">

<head th:insert="~{snippets/header.html :: headerFragment}">
   <title id="pageTitle">Munin Web Reports - Admin</title>
</head>
<body>
   <div th:insert="~{snippets/menu.html :: menu}">
      <ol id="breadcrumbs" class="breadcrumb">
         <li class="breadcrumb-item"><a href="/">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Admin</li>
      </ol>
   </div>
   <div sec:authorize="hasRole('ROLE_ADMIN')">
      <div class="container">
         <h2>Munin Web Reports - Administration</h2>

         <div class="col-md-12">
            <h3>Users</h3>
            <p th:if="${message}" th:text="${message}"></p>
            <form enctype="application/x-www-form-urlencoded" action="/admin/updateUsers" method="post" th:object="${users}">
               <table class="table">
                  <thead>
                     <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Enabled</th>
                        <th>Failed logins</th>
                        <th>Is viewer</th>
                        <th>Is analyst</th>
                        <th>Is admin</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tr class="form-group"  th:each="user, itemStat: *{updateList}">
                     <td><input class="form-control" type="text" th:field="*{updateList[__${itemStat.index}__].username}"
                                th:value="${user.getUsername()}"></td>
                     <td><input class="form-control" type="text" th:field="*{updateList[__${itemStat.index}__].email}"
                                th:value="${user.getEmail()}"></td>
                     <td><input class="form-check-input" type="checkbox" th:field="*{updateList[__${itemStat.index}__].enabled}"
                                th:checked="${user.isEnabled()}"></td>
                     <td><input class="form-control" type="number" th:value="${user.getFailedAttempts()}" disabled></td>
                     <td><input class="form-check-input" type="checkbox" th:field="*{updateList[__${itemStat.index}__].viewer}"
                                th:checked='${user.isViewer()}'></td>
                     <td><input class="form-check-input" type="checkbox" th:field="*{updateList[__${itemStat.index}__].analyst}"
                                th:checked='${user.isAnalyst()}'></td>
                     <td><input class="form-check-input" type="checkbox" th:field="*{updateList[__${itemStat.index}__].admin}"
                                th:checked='${user.isAdmin()}'></td>
                     <td><a th:href="@{/admin/deleteUser/{username}(username=*{updateList[__${itemStat.index}__].username})}"
                            class="btn btn-danger btn-sm">Delete</a>
                     </td>
                  </tr>
               </table>
               <button type="submit" class="btn btn-success">Update</button>
            </form>
            <br/>
            <div class="col-md-6 pt-3">
               <fieldset class="border p-2">
                  <legend class="w-auto">New user</legend>
                  <form method="post" action="/admin/addUser">
                     <div class="form-group row">
                        <div class="col-md-2">
                           <label for="username">Username</label>
                        </div>
                        <div class="col-md-6">
                           <input class="form-control" type="text" id="username" name="username" />
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-md-2">
                           <label for="email">Email</label>
                        </div>
                        <div class="col-md-6">
                           <input class="form-control" type="text" id="email" name="email" />
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-md-4 text-center">
                              <label for="viewer">Is viewer</label>
                           </div>
                           <div class="col-md-4 text-center">
                              <label for="analyst">Is analyst</label>
                           </div>
                           <div class="col-md-4 text-center">
                              <label for="admin">Is admin</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-4 text-center">
                              <input class="form-check-input" type="checkbox" id="viewer" name="viewer">
                           </div>
                           <div class="col-md-4 text-center">
                              <input class="form-check-input" type="checkbox" id="analyst" name="analyst">
                           </div>
                           <div class="col-md-4 text-center">
                              <input class="form-check-input" type="checkbox" id="admin" name="admin">
                           </div>
                        </div>
                     </div>
                     <button class="btn btn-success" type="submit">Add user</button>
                  </form>
               </fieldset>
            </div>
         </div>
      </div>
   </div>
   <div th:insert="~{snippets/header.html :: scripsFragment}"></div>
</body>
</html>