<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

<head th:include="snippets/header.html :: headerFragment">
   <title id="pageTitle">Munin Web Reports</title>
</head>
<body>
<div th:include="snippets/menu.html :: menu">
   <ol id="breadcrumbs" class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Common resources</li>
   </ol>
</div>
<div class="container">

   <!--h1><img class="pb-3" src="/img/logo-combined-long.png" alt="Munin Web Reports" width="600" title="Munin Web Reports"/></h1-->
   <h1>Common resources</h1>

   <p id="message" th:if="${message}" th:text="${message}"></p>
   <table class="table">
      <thead class="thead-light">
         <tr>
            <th>File name</th>
            <th>URL</th>
            <th>Preview</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
      <tr th:each="file: ${files}">
         <td th:text="${file}" disabled="disabled"></td>
         <td>
            <a th:href="@{'/common/resources/' + ${file}}" th:text="@{'/common/resources/' + ${file}}"></a>
         </td>
         <td>
            <img th:src="@{'/common/resources/' + ${file}}" th:height="50" alt="" />
         </td>
         <td>
            <span sec:authorize="hasAnyRole('ROLE_ANALYST', 'ROLE_ADMIN')">
               <button th:onclick="deleteFile([[${file}]])" class="btn btn-danger btn-sm">Delete</button>
            </span>
         </td>
      </tr>
      </tbody>
   </table>
   <div sec:authorize="hasAnyRole('ROLE_ANALYST', 'ROLE_ADMIN')" class="pt-3">
      <hr />
      <h3>Add file</h3>
      <form action="/common/resources/upload" method="post" enctype="multipart/form-data">
         <input type="file" name="file">
         <div class="pt-2">
            <button type="submit" class="btn btn-primary">Upload</button>
         </div>
      </form>
   </div>
</div>
<div th:include="snippets/header.html :: scripsFragment"></div>
<script>
   function deleteFile(fileName) {
      let message = "";

      $.ajax({
         url: "/common/resources/" + fileName,
         method: 'DELETE',
         dataType: 'text'
      })
      .done(function (result) {
         message = result;
         //$("#message").text(result);
      })
      .fail(function( jqXHR, textStatus ) {
         message = "Delete Request failed: " + textStatus;
      })
      .always(function() {
         window.location.replace(window.location.href + "?message=" + message);
      });
   }
</script>
</body>
</html>
