<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="snippets/header.html :: headerFragment">
   <title id="pageTitle">Edit Renjin Web Report</title>
</head>
<body>
   <div th:include="snippets/menu.html :: menu"/>
   <div class="container">
      <h3>Edit report</h3>
      <form id="editReportForm" enctype="application/x-www-form-urlencoded" action="/manage/editReport" method="post">
         <div class="form-group">
            <label for="reportName">Report Name</label>
            <input id="reportName" type="text" name="reportName" th:value="${reportName}" readonly="readonly"/>
         </div>

         <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" type="text" name="description" cols="40" rows="3" th:text="${reportDescription}"></textarea>
         </div>

         <div class="form-group">
            <label for="definition">R report code:</label>
            <textarea class="form-control-file" id="definition" cols="40" rows="20" name="definition" th:text="${definition}"></textarea>
            <label for="loadRFile">Load from file</label>
            <input type="file" id="loadRFile"/>
         </div>

         <div class="form-group">
            <label for="inputContent">Input form content</label>
            <textarea class="form-control-file" id="inputContent" cols="40" rows="20" name="inputContent" th:text="${inputContent}"></textarea>
            <label for="loadInputFile">Load from file</label>
            <input type="file" id="loadInputFile"/>
         </div>

         <button type="submit" class="btn btn-primary">Update report</button>
      </form>
   </div>
</body>
<script type="text/javascript">

   let rCodeMirror = CodeMirror.fromTextArea(document.getElementById("definition"), {
      mode: "text/x-rsrc",
      autoRefresh:true
   });
   let inputCodeMirror = CodeMirror.fromTextArea(document.getElementById("inputContent"), {
      mode: "text/html",
      autoRefresh:true
   });

   document.getElementById('loadRFile')
      .addEventListener('change', function() {
         let fr=new FileReader();
         fr.onload=function(){
            rCodeMirror.setValue(fr.result);
         }
         fr.readAsText(this.files[0]);
      })

   document.getElementById('loadInputFile')
      .addEventListener('change', function() {
         let fr=new FileReader();
         fr.onload=function(){
            inputCodeMirror.setValue(fr.result);
         }
         fr.readAsText(this.files[0]);
      })
</script>
</html>