<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head th:insert="~{snippets/header.html :: headerFragment}">
   <title id="pageTitle">Munin Web Reports Error</title>
</head>
<body>
   <div th:insert="~{snippets/menu.html :: menu}">
      <ol id="breadcrumbs" class="breadcrumb">
         <li class="breadcrumb-item"><a href="/">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Error</li>
      </ol>
   </div>
   <div class="container pt-5">
      <h1>An error occurred</h1>
      <h4>Either something went wrong or the page doesn't exist anymore.</h4>
      <br />
      <div class="row pt-3">
         <div class="col-md-2 ml-auto">
            <span class="legend">Date</span>
         </div>
         <div class="col-md-10">
            <span th:text="${timestamp}"></span>
         </div>
      </div>
      <div class="row rowDesign">
         <div class="col-md-2 ml-auto">
            <span class="legend">Path</span>
         </div>
         <div class="col-md-10">
            <span th:text="${path}"></span>
         </div>
      </div>
      <div class="row rowDesign">
         <div class="col-md-2 ml-auto">
            <span class="legend">Error</span>
         </div>
         <div class="col-md-10">
            <span th:text="${error}"></span>
         </div>
      </div>
      <div class="row rowDesign">
         <div class="col-md-2 ml-auto">
            <span class="legend">Status</span>
         </div>
         <div class="col-md-10">
            <span th:text="${status}"></span>
         </div>
      </div>
      <div class="row rowDesign">
         <div class="col-md-2 ml-auto">
            <span class="legend">Message</span>
         </div>
         <div class="col-md-10">
            <span class="font-weight-bold" th:text="${message}"></span>
         </div>
      </div>
      <!--div class="row rowDesign">
         <div class="col-md-2 ml-auto">
            <span class="legend">Exception</span>
         </div>
         <div class="col-md-10">
            <span th:text="${exception}"></span>
         </div>
      </div-->
      <!--div class="row rowDesign">
         <div class="col-md-2 ml-auto">
            <span class="legend">Trace</span>
         </div>
         <div class="col-md-10">
            <span th:text="${trace}"></span>
         </div>
      </div-->
   </div>
   <div th:insert="~{snippets/header.html :: scripsFragment}"></div>
</body>
</html>