<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

<head th:include="snippets/header.html :: headerFragment">
   <title id="pageTitle">Renjin Web Reports</title>
</head>
<body>
   <div class="container">
      <h2>Renjin Web Reports</h2>

      <table class="table">
         <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Is parameterized</th>
            <th>Action</th>
         </thead>
         <tbody>
            <tr th:each="report: ${reportList}">
               <td th:text="${report.reportName}"/>
               <td th:text="${report.description}" />
               <td><input type="checkbox" th:value="${report.inputContent == null ? false : report.inputContent.length() > 0}"/></td>
               <td>
                  <a th:href="@{/viewReport/{name}(name=${report.reportName})}" class="btn btn-primary">View</a>
                  <span sec:authorize="hasRole('ROLE_ANALYST')">
                     <a th:href="@{/manage/editReport/{name}(name=${report.reportName})}" class="btn btn-primary">Edit Report</a>
                  </span>
               </td>
            </tr>
         </tbody>
      </table>
      <div sec:authorize="hasRole('ROLE_ANALYST')">
         This content is only shown to analysts.<br />
         <a href="/manage/addReport" class="btn btn-primary">Add Report</a>
      </div>
      <div sec:authorize="hasRole('ROLE_ADMIN')">
         This content is only shown to administrators.
      </div>
   </div>
</body>
</html>