<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

<head th:include="snippets/header.html :: headerFragment">
   <title id="pageTitle">Renjin Web Reports</title>
</head>
<body>
   <div th:include="snippets/menu.html :: menu"/>
   <div class="container">

      <!--h1><img class="pb-3" src="/img/logo-combined-long.png" alt="Munin Web Reports" width="600" title="Munin Web Reports"/></h1-->
      <h1>Web Reports</h1>

      <p th:if="${message}" th:text="${message}" />
      <table class="table">
         <thead class="thead-light">
            <th>Name</th>
            <th>Description</th>
            <th>Is parameterized</th>
            <th>Action</th>
         </thead>
         <tbody>
            <tr th:each="report: ${reportList}">
               <td th:text="${report.reportName}" disabled="disabled"/>
               <td th:text="${report.description}" disabled="disabled" />
               <td><input type="checkbox" th:checked="${report.inputContent == null ? false : report.inputContent.length() > 0}" disabled="disabled"/></td>
               <td>
                  <a th:href="@{/viewReport/{name}(name=${report.reportName})}" class="btn btn-success" onclick="setBusy(true)">View</a>
                  <span sec:authorize="hasRole('ROLE_ANALYST')">
                     <a th:href="@{/manage/editReport/{name}(name=${report.reportName})}" class="btn btn-primary">Edit</a>
                     <a th:href="@{/manage/deleteReport/{name}(name=${report.reportName})}" class="btn btn-danger">Delete</a>
                  </span>
               </td>
            </tr>
         </tbody>
      </table>
      <div sec:authorize="hasRole('ROLE_ANALYST')">
         <a href="/manage/addReport" class="btn btn-primary">Add Report</a>
         <a href="/manage/schedule" class="btn btn-secondary">Schedule Report</a>
      </div>
      <div sec:authorize="hasRole('ROLE_ADMIN')">
         <a href="/admin/index" class="btn btn-primary">Administration</a>
      </div>
   </div>
</body>
</html>