<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="snippets/header.html :: headerFragment">
   <title id="pageTitle">Munin Web Reports Login</title>
</head>
<body>
<link rel="stylesheet" media="screen" th:href="@{/css/login.css}">
<div class="container">
   <div class="form-signin col-md-5">
      <img class="pb-3" src="/img/logo-combined.png" alt="Munin Web Reports" width="330" title="Munin Web Reports"/>
      <p th:if="${message}" th:text="${message}" />
      <h1 class="pt-5">Login</h1>
      <form th:action="@{/login.html}" method="post">
         <div class="row">
            <div class="col-md-3">
               <label for="username">Username</label>:
            </div>
            <div class="col-md-7">
               <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
            </div>
         </div>
         <div class="row">
            <div class="col-md-3">
               <label for="password">Password</label>:
            </div>
            <div class="col-md-7">
               <input type="password" id="password" name="password" />
            </div>
         </div>
         <a href="/resetPassword"><small>Reset password</small></a>
         <div class="col-md-9 text-center">
            <input type="submit" value="Log in" />
         </div>
      </form>
      <p th:if="${loginError}" class="error pt-3">Wrong user or password</p>
   </div>
</div>
</body>
</html>