<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head th:include="snippets/header.html :: headerFragment">
   <title id="pageTitle">Munin Web Reports</title>
</head>
<body>
<div th:include="snippets/menu.html :: menu">
   <ol id="breadcrumbs" class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page" th:text="${reportGroup}"></li>
   </ol>
</div>

<div class="container">

   <!--h1><img class="pb-3" src="/img/logo-combined-long.png" alt="Munin Web Reports" width="600" title="Munin Web Reports"/></h1-->
   <h1>Web Reports in <span th:text="${reportGroup}"></span></h1>

   <p th:if="${message}" th:text="${message}"></p>
   <table class="table">
      <thead class="thead-light">
      <tr>
         <th>Name</th>
         <th>Description</th>
         <th>Type</th>
         <th>Is parameterized</th>
         <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="report: ${reportList}">
         <td th:text="${report.reportName}" disabled="disabled"></td>
         <td th:text="${report.description}" disabled="disabled"></td>
         <td th:text="${report.reportType}" disabled="disabled"></td>
         <td><input type="checkbox"
                    th:checked="${report.inputContent == null ? false : report.inputContent.length() > 0}"
                    disabled="disabled"/></td>
         <td>
            <a th:href="@{/viewReport/{name}(name=${report.reportName})}" class="btn btn-success btn-sm"
               onclick="setBusy(true)">View</a>
            <span sec:authorize="hasRole('ROLE_ANALYST')">
                     <a th:href="@{/manage/editReport/{name}(name=${report.reportName})}"
                        class="btn btn-primary btn-sm">Edit</a>
                     <a th:href="@{/manage/deleteReport/{name}(name=${report.reportName})}"
                        class="btn btn-danger btn-sm">Delete</a>
                  </span>
         </td>
      </tr>
      </tbody>
   </table>
</div>
<div th:include="snippets/header.html :: scripsFragment"></div>
</body>
</html>