<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="snippets/header.html :: headerFragment">
   <title id="pageTitle">Schedule a Renjin Web Report</title>
</head>
<body>
   <div th:include="snippets/menu.html :: menu"/>
   <div class="container">
      <h2>Schedule report</h2>
      <p th:if="${message}" th:text="${message}" />
      <div th:if="${schedules}">
         <h3>Existing Schedules</h3>
         <table class="table">
            <thead class="thead-light">
               <th>Report name</th>
               <th>Schedule</th>
               <th>Description</th>
               <th>Emails</th>
               <th>Action</th>
            </thead>
            <tr th:id="'row'+ ${reportSchedule.getId()}" th:each="reportSchedule: ${schedules}">
               <td data-name="reportName" th:text="${reportSchedule.getReportName()}"></td>
               <td data-name="cron" th:text="${reportSchedule.getCron()}"></td>
               <td th:text="${reportSchedule.getReadableCron()}"></td>
               <td data-name="emails" th:text="${reportSchedule.getEmails()}"></td>
               <td>
                  <button type="button" class="btn btn-primary" th:onclick="editSchedule([[${reportSchedule.getId()}]])">Edit</button>
                  <a th:href="@{/manage/schedule/delete/{id}(id=${reportSchedule.getId()})}" class="btn btn-danger">Delete</a>
               </td>
            </tr>
         </table>
      </div>
      <h3 id="newEditSchedule">New Schedule</h3>
      <form action="/manage/schedule" method="post">
         <input id="id" hidden="hidden" name="id" />
         <div class="form-group row">
            <div class="col-md-3">
               <label for="reportName">Report</label>
               <select id = "reportName" name="reportName" class="form-control">
                  <option th:each="report: ${reportList}" th:value="${report}" th:text="${report}">
                  </option>
               </select>
            </div>
         </div>
         <div class="form-group row">
            <div class="col-md-3">
               <label for="cronVal">Schedule</label>
               <input id="cronVal" name="cronVal" readonly="readonly" class="form-control"/>
            </div>
            <div class="col-md-5 pt-3">
               <!--br/-->
               <div id="cronSchedule"></div>
            </div>
         </div>
         <div class="form-group row">
            <div class="col-md-8">
               <label for="emails" title="Semicolon separated list of report recipients">Emails</label>
               <input id="emails" name="emails" class="form-control" title="Semicolon separated list of report recipients"/>&nbsp;
            </div>
         </div>
         <div class="form-group row">
            <div class="col-md-2">
               <button type="submit" class="btn btn-primary">Schedule</button>
            </div>
            <div class="col-md-2">
               <button type="reset" class="btn btn-secondary" onclick="enableForm()">Reset</button>
            </div>
         </div>
      </form>
   </div>

   <script type="text/javascript" th:src="@{/js/jquery-cron-quartz/jquery-cron-quartz.js}" ></script>
   <link rel="stylesheet" type="text/css" th:href="@{/js/jquery-cron-quartz/jquery-cron-quartz.css}">

   <script>
      $(function() {
         $('#cronSchedule').cronBuilder({
            onChange: function(expression) {
               $('#cronVal').val(expression);
            }
         });
      });

      function editSchedule(id) {
         $("#newEditSchedule").text("Edit Schedule")
         let row = $("#row" + id);
         $("#id").val(id);
         let reportName = $("#reportName");
         reportName.val(row.find("td[data-name='reportName']").text());
         reportName.prop("disabled", true);
         $("#cronVal").val(row.find("td[data-name='cron']").text());
         $("#emails").val(row.find("td[data-name='emails']").text());
         document.getElementById("newEditSchedule").scrollIntoView();
      }

      function enableForm() {
         $("#newEditSchedule").text("New Schedule")
         $("#reportName").prop("disabled", false);
      }
   </script>
</body>
</html>