<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:include="snippets/header.html :: headerFragment">
   <title id="pageTitle">Schedule a Renjin Web Report</title>
</head>
<body>
   <div th:include="snippets/menu.html :: menu">
      <ol id="breadcrumbs" class="breadcrumb">
         <li class="breadcrumb-item"><a href="/">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Report Schedules</li>
      </ol>
   </div>
   <div class="container">
      <h2>Schedule report</h2>
      <p th:if="${message}" th:text="${message}"></p>
      <div th:if="${schedules}">
         <h4>Existing Schedules</h4>
         <table class="table">
            <thead class="thead-light">
               <tr>
                  <th>Report name</th>
                  <th title="Cron format is Spring">Schedule</th>
                  <th>Description</th>
                  <th>Emails</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               <tr th:id="'row'+ ${reportSchedule.getId()}" th:each="reportSchedule: ${schedules}">
                  <td data-name="reportName" th:text="${reportSchedule.getReportName()}"></td>
                  <td data-name="cron" th:text="${reportSchedule.getCron()}"></td>
                  <td th:text="${reportSchedule.getReadableCron()}"></td>
                  <td data-name="emails" th:text="${reportSchedule.getEmails()}"></td>
                  <td>
                     <button type="button" class="btn btn-primary btn-sm" th:onclick="editSchedule([[${reportSchedule.getId()}]])">Edit</button>
                     <a th:href="@{/manage/schedule/delete/{id}(id=${reportSchedule.getId()})}" class="btn btn-danger btn-sm">Delete</a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <hr />
      <h4 id="newEditSchedule">New Schedule</h4>
      <form action="/manage/schedule" method="post">
         <input id="id" hidden="hidden" name="id" />
         <div class="form-group row">
            <div class="col-md-5">
               <label for="reportName">Report</label>
               <select id = "reportName" name="reportName" class="form-control">
                  <option th:each="report: ${reportList}" th:value="${report}" th:text="${report}">
                  </option>
               </select>
            </div>
         </div>
         <div class="form-group row">
            <div class="col-md-5">
               <label for="cronVal" title="cron format is Spring">Schedule</label>
               <input id="cronVal" name="cronVal" readonly="readonly" title="cron format is Spring" class="form-control"/>
            </div>
            <div class="col-md-6 pt-3">
               <!--br/-->
               <div id="cronSchedule"></div>
            </div>
         </div>
         <div class="form-group row">
            <div class="col-md-11">
               <label for="emails" title="Semicolon separated list of report recipients">Emails</label>
               <input id="emails" name="emails" class="form-control" title="Semicolon separated list of report recipients"/>&nbsp;
            </div>
         </div>
         <div class="form-group row">
            <div class="col-md-2">
               <button type="submit" class="btn btn-primary">Schedule</button>
            </div>
            <div class="col-md-2">
               <button type="reset" class="btn btn-secondary" onclick="enableForm()">Reset</button>
            </div>
         </div>
      </form>
   </div>
   <div th:include="snippets/header.html :: scripsFragment"></div>
   <script type="text/javascript" src="/js/cronwidget/cronwidget.js"></script>

   <script>

      let cronWidget = new CronWidget(
         document.getElementById("cronSchedule"),
         function(expression) {
            $('#cronVal').val(expression);
         }
      );
      cronWidget.render();

      function editSchedule(id) {
         $("#newEditSchedule").text("Edit Schedule")
         let row = $("#row" + id);
         $("#id").val(id);

         let reportName = $("#reportName");
         reportName.val(row.find("td[data-name='reportName']").text());
         reportName.prop("disabled", true);

         let cron = row.find("td[data-name='cron']").text();
         let cronVal = $("#cronVal");
         cronVal.val(cron);
         cronVal.prop("readonly", false);
         cronWidget.loadValue(cron);

         $("#emails").val(row.find("td[data-name='emails']").text());
         document.getElementById("newEditSchedule").scrollIntoView();
      }

      function enableForm() {
         $("#newEditSchedule").text("New Schedule")
         $("#reportName").prop("disabled", false);
      }
   </script>
</body>
</html>