<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:include="snippets/header.html :: headerFragment">
  <title id="pageTitle" th:inline="text">[[${reportName}]]</title>
</head>
<body>
<script>
  hljs.initHighlightingOnLoad();
  $( document ).ready( setBusy(false) );
</script>
<div th:include="snippets/menu.html :: menu"/>
<div class="container">
  <div th:remove="tag" th:utext="${reportContent}"><html><body></body></html></div>
</div>
</body>
</html>