<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:insert="~{snippets/header.html :: headerFragment}">
   <title id="pageTitle" th:inline="text">[[${reportName}]]</title>
</head>
<body>

<div th:insert="~{snippets/menu.html :: menu}">
   <ol id="breadcrumbs" class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" aria-current="page"><a th:href="@{/reports/{group}(group=${reportGroup})}" th:text="${reportGroup}"></a></li>
      <li class="breadcrumb-item active" aria-current="page" th:text="${reportName}"></li>
   </ol>
</div>
<div class="container">
   <div th:remove="tag" th:utext="${reportContent}">
      <html>
      <body></body>
      </html>
   </div>
</div>
<div th:insert="~{snippets/header.html :: scripsFragment}"></div>
<script>
   hljs.highlightAll();
   $(document).ready(() => setBusy(false));
</script>
</body>
</html>